<h1>Stakeholder Engagement</h1>
<p>Testing</p>


<!DOCTYPE html>
<html>

  <%= link_to "Home", root_path %> | 
  <%= link_to "Control", internal_control_path %> | 
  <% if current_user %>
    Logged in as <%= current_user.email =%> | <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
